body {
  margin: 0;
  padding: 0;
  background-color: #550000;
}

.life_bar {
  display: flex
}

.title_bar {
  background-color: #332233;
}

.title_bar__title {
  font-size: 15px;
}

.life_bar__life {
  background-size: contain;
  height: 30px;
  width:30px;
}

.life_bar__life--active {
  background: url(sushi.svg);
}

.life_bar__life--inactive {

}
